html * {
	margin: 0px;
	padding: 0px;
}
body {
	background: no-repeat url("./bgimage.jpg");
	background-size: cover;
}
.App {
	text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
	.header-logo {
		animation: header-logo-spin infinite 20s linear;
	}
} */
